.minor-div {
  cursor: pointer;
  width: 80vw;
}

.minor-courses ul {
  display: flex;
  gap: 10px;
}

.minor-course {
  padding: 10px;
  color: #f76902;
  font-weight: 700;
}

.minor-course:hover {
  background-color: #f76902;
  color: #ffffff;
  border-radius: 8px;
}

.minor-course:active {
  background-color: #af4a01;
}

@media only screen and (max-width: 1200px) {
  .minor-courses ul {
    flex-wrap: wrap;
  }
}
