/* news group animation setting start */
.news-group {
  opacity: 1;
  transition: opacity 0.3s ease;
}

.fade-out {
  opacity: 0;
}

.fade-in {
  opacity: 1;
}

.current {
  opacity: 1;
}
/* news group animation setting end */

.news-page-btns {
  margin: 1em;
  display: flex;
  justify-content: center;
}
